/*geral*/
body, p, h1, h2, input, textarea {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
h2{
    font-size: 30px;
}
/*navbar*/
#navbar{
    background-color: rgb(125, 22, 22);
    color: #fff;
    padding: 0 15px;
    height: 60px;
}
#navbar h2, #navbar ul, #navbar-list li, #navbar nav {
    display: inline-block;

}
#titt{
    color: white;
}
#navbar h2{
    margin: 0;
    line-height: 60px;
    margin-left: 55px;
    margin-left: 100px;

}
#navbar img{
    height: 60px;
    position: absolute;
    top: 0px;
    width: 90px;

}
#navbar nav{
    float: right;
}
#navbar ul{
    margin-top: 22px;
}

#navbar li{
    margin: 0 10px;
}
#navbar-list li a{
    text-decoration:none;
    color: #fff;
}
#navbar-list li a:hover{
    border-bottom: 1px solid #fff;
}
/*banner*/
#main-banner{
    height: 70vh;
    background-image: url(imagens/bggentle.jpg);
    background-size: cover;
    padding-top: 15vh;
    width: 100%;
}
#banner-info{
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color:#fff;
    padding: 50px;
}
#banner-info img{
    height: 190px;
    border-radius: 50%;
    background-color: rgb(125, 22, 22);
    margin-top: 30px;
    margin-bottom: 30px;
}
#banner-info p{
    background-color: rgb(125, 22, 22);
    font-weight: bold;
    width: 12vw;
    margin: 1vw;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    border-radius: 10px;
    text-decoration: none;
    color: white;
}
#about-section{
    text-align: center;
    background-color: rgb(125, 22, 22);
    color: #fff;
    padding-top: 1rem;
    padding-bottom: 2rem;
    height: 350px;
}
#about-section h2{
    margin-bottom: 20px;
}
#about-section p{
    max-width: 650px;
    margin-right: auto;
    margin-left: auto;
    line-height: 30px;
}
/*skills*/
#skills-section{
    margin-top: -4rem;
    background-color: #fff;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #DDD;
    border-radius: 10px;
}
#skills-section .container{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.skills-container{
    flex: 1 1 1;
    text-align: center;
    padding: 60px 25px;
}

.skills-container{
    border-left: 1px #CCC;
    border-right: 1px #CCC;
    border-radius: 10px;
}
.skills-container h3{
    color: rgb(125, 22, 22);
    font-size: 20px;
}
.skills-container img{
    border-radius: 5px;
    height: 60px;
    padding: 0px;
    margin-bottom: 25px;
    border-bottom: 3px solid rgb(125, 22, 22);
    border-left: 0px solid rgb(125, 22, 22);
    border-right: 3px solid rgb(125, 22, 22);
    border-top: 0px solid rgb(125, 22, 22);
}
.skills-container .subtitle{
    font-weight: bold;
    color: rgb(125, 22, 22);
    margin-top: 50px;
    margin-bottom: 15px;
}
.mskills-container p{
    line-height: 25px;
}
/*jobs*/
#jobs-section{
    text-align: center;
    padding-top: 50px;
}
#jobs-section h2{
    color: rgb(125, 22, 22);
    margin-bottom: 30px;
}
#jobs-section p{
    margin-bottom: 50px;
}
#jobs-section a{
    font-weight: bold;
    color: rgb(125, 22, 22);
}
h2{
    text-align: center;
    color: rgb(125, 22, 22);
    margin-top: 8vw;
}
#container-tec {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    gap: 50px;
    margin-top: 100px;
  
  }
  #container-tec p{
    text-align: center;
    color: rgb(125, 22, 22);
    font-size: 1.5rem;
  }
  
  .box {
    max-width: 13rem;
    color: #140c2b;
  }
  
  .box img {
    width: 100%;
    height: 80%;
  }
  
  .plataforma {
    font-weight: 900;
  }

/*footer*/
footer{
    width: 100%;
    padding: 50px 0;
    background-color: rgb(125, 22, 22);
    color: #fff;
    text-align: center;
}
footer span{
    color: white;
    font-size: 18px;
}